.*
venv
results
dissertation/images/average-cluster-size.pdf
dissertation/images/k-cores.pdf
dissertation/images/landmark-size.pdf
dissertation/images/nodes-with-clusters.pdf
dissertation/images/num-nodes.pdf
dissertation/images/num_nodes-all.pdf
dissertation/images/num_edges.pdf
dissertation/images/num-nodes.pdf
dissertation/images/path-averages.pdf
dissertation/images/path-frequencies.pdf
dissertation/images/path-stretch.pdf